.Companies-cards{
    margin-left:20%;
    margin-right:20%;
}

@media screen and (max-width: 900px){
    .Companies-cards{
        margin-left:10%;
        margin-right:10%;
    }
}

@media screen and (max-width: 500px){
    .Companies-cards{
        margin-left:2%;
        margin-right:2%;
    }
}
